.App {
  text-align: center;
}

.wrapper {
  min-height: 100vh;

  /* &::before {
    content: "";
    background-image: url(./assets/image/food-bg.jpg);
    background-size: cover;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.75;
  } */
  .bg-main {
    opacity: 0.75;
    z-index: -1;
    position: absolute;
    inset: 0;
  }

}